{{ define "main" }}

{{ $.Scratch.Set "graph" dict }}

{{ $nodes := slice }}
{{ $links := slice }}

{{ range $index, $page := .Site.AllPages }}
    {{ $nodeID := (printf "%s%s" $page.File.Dir $page.File.BaseFileName) }}
    {{ $nodeID = trim $nodeID "/" }}
    {{ if ne $nodeID "" }}
        {{ $node := dict "id" $nodeID "url" .RelPermalink }}
        {{ $nodes = $nodes | append $node }}
        {{ $refs := .Content | findRE "\\[\\[([^\\]\\[]+)\\]\\]" }}
        {{ range $refs }}
            {{ $path := . | replaceRE "[\\[\\]]" "" }} 
            {{ $link := dict "source" $nodeID "target" $path }}
            {{ $links = $links | append $link }}
        {{ end }}
    {{ end}}
{{ end }}

{{ $.Scratch.SetInMap "graph" "nodes" $nodes }}
{{ $.Scratch.SetInMap "graph" "links" $links }}

<div id="3d-graph"></div>
<script>
// Random tree

const N = 80;
const gData = JSON.parse({{ $.Scratch.Get "graph" | jsonify }});
console.log(gData);

gData.nodes.forEach(node => {
  node.neighbors = [];
  node.links = [];
  if (node.id == "_index") {
    node.group = 3; 
  } else if (node.id.includes("_index")) {
    node.group = 2;
  } else {
    node.group = 1;
  }
})
// cross-link node objects
gData.links.forEach(link => {
  console.log(link.source, link.target);
  try {
    const a = gData.nodes.filter((node) => node.id == link.source)[0]
    const b = gData.nodes.filter((node) => node.id == link.target)[0]
    a.neighbors.push(b);
    b.neighbors.push(a);

    a.links.push(link);
    b.links.push(link);
  } catch (e) {
    console.log(e);
  }
});

console.log(gData.nodes);

const highlightNodes = new Set();
const highlightLinks = new Set();
let hoverNode = null;

const Graph = ForceGraph3D({extraRenderers: [new THREE.CSS2DRenderer()]})
  (document.getElementById('3d-graph'))
    .graphData(gData)
    .backgroundColor('#1d1e20')
    .nodeLabel('id')
    .nodeColor(node => highlightNodes.has(node) ? node === hoverNode ? '#f1faee' : '#a8dadc' : '#457b9d')
    .linkWidth(link => highlightLinks.has(link) ? 1.2 : 1)
    .linkColor(link => highlightLinks.has(link) ? '#f1faee': 'rgba(255, 255, 255, 0.3)')
    .onNodeClick((node) => {
        Graph.onNodeClick((node) => {
            const myWindow = window.location.assign(node.url);
        })
    })
    .onNodeHover(node => {
      // no state change
      if ((!node && !highlightNodes.size) || (node && hoverNode === node)) return;

      highlightNodes.clear();
      highlightLinks.clear();
      if (node) {
        highlightNodes.add(node);
        node.neighbors.forEach(neighbor => highlightNodes.add(neighbor));
        node.links.forEach(link => highlightLinks.add(link));
      }

      hoverNode = node || null;

      updateHighlight();
    })
    .onLinkHover(link => {
      highlightNodes.clear();
      highlightLinks.clear();

      if (link) {
        highlightLinks.add(link);
        highlightNodes.add(link.source);
        highlightNodes.add(link.target);
      }

      updateHighlight();
    });

function updateHighlight() {
  // trigger update of highlighted objects in scene
  Graph
    .nodeColor(Graph.nodeColor())
    .linkWidth(Graph.linkWidth())
    .linkColor(Graph.linkColor())
    .linkCurvature(0.1)
}
</script>
{{ end }}
